@model BugTracker_V2.Models.Project
           @using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<!-- ==============================================
     DETAILS - PROJECTS
=============================================== -->

<section class="content-wrap ecommerce-invoice">

    <div class="row">

        

            <div class="col-lg-8" ><!-- Begin Project Column -->
            
            <div class="card">

            <div class="title">
                <!-- Title -->
                <h3>@Html.DisplayFor(model => model.Title)</h3>

                @if (User.IsInRole("Admin") || (Model.Users.Any(u => u.Id == User.Identity.GetUserId())) && (User.IsInRole("ProjectManager")))
                {
                    <div class="btn-group right">
                        <a class="btn btn-small z-depth-0" href="@Url.Action("Edit", new { id = Model.Id })"><i class="mdi mdi-editor-mode-edit"></i> Edit Project</a>
                    </div>

                }

           </div>
               
            <div class="content">
                <h5>Created: @Html.DisplayFor(model => model.Created)</h5>
                <hr />
                <p class=" table table-hover">@Html.Raw(Model.Description)</p>
                        
                @if (Model.Updated != null)
                {
                    <div class="alert alert-dismissible green lighten-3 white-text">
                        <strong>Updated: </strong>@Html.DisplayFor(model => model.Updated)
                        <button class="close">&times;</button>
                    </div>
                }

            </div>   

            </div>

            </div><!-- End Project Column -->

            <br />
       

        <div class="col-lg-4"><!-- Begin Meta Column -->
        
            <div class="card">

                <div class="title">
                    <h5>Project Members</h5>
                </div>

                <div class="content">

                    <ul class="btn-group" role="group">
                        @foreach (var item in Model.Users)
                        {
                            <li style="margin:3px;" class="btn btn-default">
                                @Html.DisplayFor(modelItem => item.DisplayName)
                            </li>



                        }
                    </ul>

                </div><!-- /content -->


            </div><!-- /card -->
      
        
        </div><!-- End Meta Column -->

    </div><!-- End Row -->

    <!-- Begin TicketList Column -->

    <!-- Begin Ticket Table -->
    <br />
    <br />
    
    <div class="card">
    
        <div class="title">
            <h5>Tickets</h5><!-- Page Title -->
            <div class="btn-group right">
                <a href="@Url.Action("Create", "Tickets", new { projectId = Model.Id })" class="btn btn-small z-depth-0"><i class="mdi mdi-content-add"></i> Create New</a>
            </div>
        </div><!-- /Title -->
     
        <div class="content">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Ticket Title</th>
                    <th>Owned By</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>


                    @foreach (var item in Model.Tickets.OrderByDescending(c => c.Created))
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Tickets", new { projectId = Model.Id, id = item.Id })" class="btn white grey-text text-darken-2"><i class="fa fa-eye"></i></a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Tickets", new { projectId = Model.Id, id = item.Id })">   <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnedBy.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated)`

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                        </tr>
                    }
                

                


            </tbody><!-- /table-body -->
        </table><!-- /table -->

    </div><!-- /content -->

    </div><!-- /card -->

    <!-- /Ticket Table -->
</section>


