@model BugTracker_V2.Models.Project

@{
    ViewBag.Title = "Details";
}

<!-- ==============================================
     SINGLE PROJECT
=============================================== -->

<section class="content-wrap ecommerce-invoice">

    <div class="card-panel">

        <!-- Project Title -->
        <div class="row invoice-top">
            <div class="col s12 m6">
                <h3>@Html.DisplayFor(model => model.Title)</h3>
            </div>
            
        </div>
        <!-- /Project Title -->

        <div class="row">
            <!-- Project Created/Updated -->
            <div class="col s12 l4">
                <div class="invoice-num">
                    <div class="num">
                        <span class="glyphicon glyphicon-time"></span> Created: @Html.DisplayFor(model => model.Created)
                    </div>

                    <div class="date">
                        <span class="glyphicon glyphicon-time"></span> Updated: <strong>@Html.DisplayFor(model => model.Updated)</strong>
                    </div>

                </div>
            </div>
            <!-- /Project Created/Updated -->
            
             <!-- Project Manager -->
            <div class="col s12 l4">
                
                <h4>Project Manager:</h4>
                <p>@Html.DisplayFor(model=> model.ProjectManager.DisplayName)</p>
            </div>
            <!-- /Project Manager -->
            <!-- Assigned Users -->
            <div class="col s12 l4">
                
                <h4>Assigned Users</h4>
                <p>@Html.DisplayFor(model => model.User)</p>
            </div>
            <!-- /Assigned users -->
           
        </div>

    </div><!-- /card-panel -->


    <div class="row">

        <div class="col-lg-8">
            <!-- Begin Project Column -->
            <!-- Title -->
            <h1>@Html.DisplayFor(model => model.Title)</h1>

            <!-- Project Manager -->
            <p>
                Project Manager : @Html.DisplayFor(model => model.ProjectManager.DisplayName)
            </p>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(model => model.Created)</p>

            <hr>

            <!-- Project Content -->

            <p class="card-panel">@Html.Raw(Model.Description)</p>

            <hr />


            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div><!-- End Project Column -->

        <div class="col-lg-4">
            <!-- Begin TicketList Column -->



            <a href="@Url.Action("Create", "Tickets", new { projectId = Model.Id })">Create New Ticket</a>

            @foreach (var item in Model.Tickets.OrderByDescending(c => c.Created))
            {
                <div>
                    <h4><a href="@Url.Action("Details", "Tickets", new { projectId = Model.Id, id=item.Id  })">@Html.DisplayFor(modelItem => item.Title)</a></h4>
                    <p><span class="glyphicon glyphicon-time"></span> Created on :@Html.DisplayFor(modelItem => item.Created)</p>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <ul class="card-panel">
                        <li>Ticket Status: @Html.DisplayFor(modelItem => item.TicketStatus.Name)</li>
                        <li>Ticket Type: @Html.DisplayFor(modelItem => item.TicketType.Name)</li>
                        <li>Ticket Priority: @Html.DisplayFor(modelItem => item.TicketPriority.Name)</li>
                    </ul>




                    <br />





                    <hr />

                </div>
            }

        </div><!-- End TicketList Column -->

    </div><!-- End Row -->




</section>


