@model BugTracker_V2.Models.DashBoardViewModel

<div class="row">

    <div class="col l10 s12">
    
        <div class="card">

            <div class="title">
                <h5><i class="fa fa-folder-open"></i> All Projects</h5>
                <div class="btn-group right">
                    <a href="@Url.Action("Create", "Projects")" class="btn btn-small z-depth-0"><i class="mdi mdi-content-add"></i> Create New</a>
                </div>
            </div><!-- /title -->

            <div class="content">

                <table class="display table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>View</th>
                            <th>Project Title</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Tickets</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Projects)
                        {
                            <tr>

                                <td>
                                    <a href="@Url.Action("Details", "Projects", new { id = item.Id })" class=" btn white grey-text text-darken-2">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td><!-- /View Project -->

                                <td>
                                    <a href="@Url.Action("Details", "Projects", new { id = item.Id })">
                                        <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong>
                                    </a>
                                    <br />
                                    <span class="grey-text">@Html.Raw(item.Description)</span>

                                </td><!-- /Project Title | Description -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td><!-- /Created -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td><!-- /Updated -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Tickets.Count)
                                </td><!-- /Ticket Count -->
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                    <td>
                                        <div class="btn-group">
                                            <a href="@Url.Action("Edit", "Projects", new { id = item.Id })" class="btn btn-small z-depth-0"><i class="mdi mdi-editor-mode-edit"></i> Edit</a>
                                            <a href="@Url.Action("Delete", "Projects", new { id = item.Id })" class="btn btn-small red lighten-1 z-depth-0"><i class="mdi mdi-action-delete"></i> Delete</a>
                                        </div>
                                    </td><!-- /Edit | Delete -->
                                }


                            </tr><!-- /Table Row -->
                        }

                    </tbody><!-- /Table Body -->

                </table><!-- / Table -->

            </div><!-- /content -->

        </div><!-- /card (Projects) -->  
        
        <br />
        <br />

        <div class="card">

            <div class="title">
                <h5><i class="fa fa-ticket"></i> All Tickets</h5>
            </div><!-- /title -->

            <div class="content">

                <table class="display table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>View</th>
                            <th>Ticket Title</th>
                            <th>Project</th>
                            <th>Created</th>
                            <th>Type</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tickets.OrderByDescending(c => c.Created))
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })" class="btn white grey-text text-darken-2"><i class="fa fa-eye"></i></a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })">   <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong></a>
                                </td><!-- /ticket title -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Title)
                                </td><!--/ project title -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @if (item.TicketPriority.Name == "Critical")
                                    {
                                        <span class="alert amber accent-2 white-text">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    }
                                  
                                </td>
                                <td>
                                    @if(item.TicketStatus.Name == "New")
                                    {
                                        <span class="alert green lighten-1 white-text">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</span>
                                    }
                                    
                                    else if (item.TicketStatus.Name == "Resolved")
                                    {
                                        <span class="alert grey lighten-1 white-text">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    }
                                                                        
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("Edit", "Tickets", new { projectId = item.ProjectId, id = item.Id })" class="btn btn-small z-depth-0"><i class="mdi mdi-editor-mode-edit"></i> Edit</a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody><!-- /table-body -->
                </table><!-- /table -->


            </div><!-- /content -->

        </div><!-- /card (Tickets) -->

  

    </div><!-- / column (Projects | Tickets) -->

    <div class="col l2 s12">
        
            <div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
                <i class="fa fa-folder-open"></i>
                <span class="count">@Model.Projects.Count</span>
                <div class="name">Total Projects</div>
            </div><!--/ project count -->

            <div class="card-panel stats-card teal lighten-2 green-text text-lighten-5">
                <i class="fa fa-ticket"></i>
                <span class="count">@Model.Tickets.Count</span>
                <div class="name">Total Tickets</div>
            </div><!-- /ticket count -->
    
    </div><!-- column (Meta Info)-->

</div><!-- /row -->

