@model BugTracker_V2.Models.DashBoardViewModel
@using Microsoft.AspNet.Identity;
<div class="row">

    <div class="col-lg-6 col-md-4 col-sx-6 col-xs-12" style="margin-bottom: 10px;">
        <div class="card-panel clickable stats-card cyan cyan-text text-lighten-5" data-target="#dash_tickets" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-ticket">@Model.DevTickets.Count</i>
            <span class="count">  Tickets:</span>

        </div><!-- /ticket count -->
    </div>

    <div class="col-lg-6 col-md-4 col-sx-6 col-xs-12" style="margin-bottom: 10px;">
        <div class="card-panel clickable stats-card blue lighten-2 blue-text text-lighten-5" data-target="#dash_projects" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-folder-open">@Model.MyProjects.Count</i>
            <span class="count"> Projects:</span>

        </div><!--/ project count -->
    </div>
    
</div><!--/ row (tabs)-->

<div class="row">

    <div class="col l12 s12 tab-content">

        @if (Model.MyProjects.Count == 0)
        {
            <div class="alert">
                <h5 class="text-center">You currently have no projects assigned to you.</h5>
            </div>
        }

        <div role="tabpanel" class="tab-pane card active" id="dash_tickets">

            <div class="title">
                <h5>My Assigned Tickets</h5>
            </div>

            <div class="content">

                <table class="display table table-bordered table-striped table-hover" id="ticketTable">
                    <thead>
                        <tr>
                            <th>Ticket Title</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Type</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DevTickets.OrderByDescending(c => c.Created))
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })">   <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong></a>
                                </td><!-- /ticket title -->
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td><!-- /created -->
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)`

                                </td><!-- /updated -->
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td><!-- /type -->
                                <td>
                                    @if (item.TicketPriority.Name == "Critical")
                                    {
                                        <span class="red-text"><strong>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</strong></span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    }
                                </td><!-- /priority -->
                                <td>
                                    @if (item.TicketStatus.Name == "New")
                                    {
                                        <span class="green-text"><strong>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</strong></span>
                                    }

                                    else if (item.TicketStatus.Name == "Resolved")
                                    {
                                        <strong>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</strong>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    }
                                </td><!-- /status -->
                                <td>
                                    <div class="btn-group" role="button">
                                        <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })" class="btn white grey-text text-darken-2 btn-small"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-small" href="@Url.Action("Edit", "Tickets", new { projectId = item.ProjectId, id = item.Id })"><i class="mdi mdi-editor-mode-edit"></i></a>
                                        <a class="btn btn-small green" href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })/#comment_form"><i class="fa fa-comments"></i></a>
                                    </div>
                                </td><!--/actions -->
                            </tr>
                        }
                    </tbody><!-- /table-body -->
                </table><!-- /table -->

            </div><!--/ content -->

        </div><!-- /card (My Assigned Tickets) -->

        <div role="tabpanel" class="tab-pane card" id="dash_projects" style="margin-top:0;">

            <div class="title">
                <h5>My Projects</h5>
            </div>

            <div class="content">

                <table class="display table table-bordered table-striped table-hover" id="projectsTable">
                    <thead>
                        <tr>
                            <th>Project Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MyProjects.OrderByDescending(c => c.Created))
                        {
                            <tr>

                                <td>
                                    <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong> 
                                    <br />
                                    @Html.Raw(item.Description)    
                                
                                </td><!--/ project title -->
                                <td>
                                    <div class="btn-group" role="button">
                                        <a class="btn btn-small white grey-text text-darken-2" href="@Url.Action("Details", "Projects", new { Id = item.Id })"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="btn btn-small green"><i class="fa fa-ticket"></i></a>
                                    </div>
                                </td><!-- actions -->


                            </tr>
                        }
                    </tbody><!-- /table-body -->
                </table><!-- /table -->


            </div><!-- /content -->

        </div><!-- /card (My Project's Tickets)-->

    </div><!-- my projects | tickets column -->

</div><!-- /row -->


