@model BugTracker_V2.Models.DashBoardViewModel

<div class="row">

    <div class="col-lg-12">
        
        <div class="card">

            <div class="title">
                <h5><i class="fa fa-ticket"></i> My Tickets</h5>
            </div><!-- /title -->

            <div class="content">

                <table class="display table table-bordered table-striped table-hover">
                   
                    <thead>
                        <tr>
                            <th>View</th>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.MyTickets.OrderByDescending(c => c.Created))
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })" class="btn white grey-text text-darken-2"><i class="fa fa-eye"></i></a>
                                </td><!--/view ticket button -->
                                <td>
                                    <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })">   <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong></a>
                                </td><!-- /ticket title -->
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)`
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-small z-depth-0" href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })"><i class="mdi mdi-content-add"></i> Add Comment  </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table><!-- /table -->

            </div><!-- /content (my tickets)-->

        </div>

        <br />

        <div class="card">

            <div class="title">
                <h5><i class="fa fa-folder-open"></i> Projects</h5>
            </div><!-- /title -->

            <div class="content">

                <table class="display table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead><!--/thead -->
                    <tbody>

                        @foreach (var item in Model.Projects)
                        {
                            <tr>
                                <td>
                                   <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong>
                                   <br />
                                   <span class="grey-text">@Html.Raw(item.Description)</span>
                                </td><!-- /Project Title | Description -->
                                <td>
                                  <div class="btn-group">
                                      <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="btn btn-small z-depth-0"><i class="mdi mdi-content-add"></i> New Ticket</a>
                                  </div>     
                                </td><!-- /Create New Ticket -->

                            </tr>
                        }

                    </tbody>
                </table><!-- /table -->

            </div><!-- content -->

        </div><!-- /card -->

    </div><!-- /user column -->

</div><!-- /row -->

