@model BugTracker_V2.Models.DashBoardViewModel

<div class="row">
    <div class="col-lg-6 col-md-4 col-sx-6 col-xs-12" style="margin-bottom: 10px;">
        <div class="card-panel clickable stats-card blue lighten-2 blue-text text-lighten-5" data-target="#dash_projects" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-folder-open">@Model.MyProjects.Count</i>
            <span class="count">My Projects:</span>

        </div><!--/ project count -->
    </div>

    <div class="col-lg-6 col-md-4 col-sx-6 col-xs-12" style="margin-bottom: 10px;">
        <div class="card-panel clickable stats-card cyan cyan-text text-lighten-5" data-target="#dash_tickets" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-ticket">@Model.MyTickets.Count</i>
            <span class="count"> My Tickets:</span>

        </div><!-- /ticket count -->
    </div>

</div><!--/ row (tabs)-->

<div class="row">

    <div class="col l12 s12 tab-content">



        <div role="tabpanel" class="tab-pane card active" id="dash_projects">

            <div class="title">

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-dismissible red lighten-1 white-text center">
                        <strong>@ViewBag.Error</strong>
                        <button class="close">&times;</button>
                    </div>

                }

                <h5><i class="fa fa-folder-open"></i> My Projects</h5>
            </div><!-- /title -->

            <div class="content">

                <table class="display table table-bordered table-striped table-hover" id="projectsTable">
                    <thead>
                        <tr>
                            <th>Project Title</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Tickets</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.MyProjects)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "Projects", new { id = item.Id })">
                                        <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong>
                                    </a>
                                    <br />
                                    <span class="grey-text">@Html.Raw(item.Description)</span>

                                </td><!-- /Project Title | Description -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td><!-- /Created -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td><!-- /Updated -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.Tickets.Count)
                                </td><!-- /Ticket Count -->

                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("Details", "Projects", new { id = item.Id })" class=" btn white grey-text text-darken-2 btn-small"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("Edit", "Projects", new { id = item.Id })" class="btn btn-small"><i class="mdi mdi-editor-mode-edit"></i></a>
                                        <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="btn btn-small green"><i class="fa fa-ticket"></i></a>
                                    </div>
                                </td><!-- /actions -->

                            </tr><!-- /Table Row -->
                        }

                    </tbody><!-- /Table Body -->

                </table><!-- / Table -->

            </div><!-- /content -->

        </div><!-- /card (Projects) -->

 
        <div role="tabpanel" class="tab-pane card" id="dash_tickets" style="margin-top:0;">

            <div class="title">
                <h5><i class="fa fa-ticket"></i> My Project's Tickets</h5>
            </div><!-- /title -->

            <div class="content">

                <table class="display table table-bordered table-striped table-hover" id="ticketTable">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Ticket Title</th>
                            <th>Created</th>
                            <th>Type</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MyTickets.OrderByDescending(c => c.Created))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Title)
                                </td><!--/ project title -->
                                <td>
                                    <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })">   <strong class="grey-text text-darken-2">@Html.DisplayFor(modelItem => item.Title)</strong></a>
                                </td><!-- /ticket title -->
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td><!-- /created -->

                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td><!-- /type -->
                                <td>
                                    @if (item.TicketPriority.Name == "Critical")
                                    {
                                        <span class="red-text"><strong>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</strong></span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    }

                                </td><!-- priority -->
                                <td>
                                    @if (item.TicketStatus.Name == "New")
                                    {
                                        <span class="green-text"><strong>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</strong></span>
                                    }

                                    else if (item.TicketStatus.Name == "Resolved")
                                    {
                                        <strong>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</strong>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    }

                                </td><!-- /status -->
                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("Details", "Tickets", new { projectId = item.ProjectId, id = item.Id })" class="btn white grey-text text-darken-2 btn-small"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-small" href="@Url.Action("Edit", "Tickets", new { projectId = item.ProjectId, id = item.Id })"><i class="mdi mdi-editor-mode-edit"></i></a>
                                    </div>


                                </td><!-- /actions -->
                            </tr>
                        }
                    </tbody><!-- /table-body -->
                </table><!-- /table -->


            </div><!-- /content -->

        </div><!-- /card (Tickets) -->



    </div><!-- / column (Projects | Tickets) -->


</div><!-- /row -->
