@model BugTracker_V2.Models.Ticket

<section class="content-wrap">

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">

            <div class="col-lg-8">

                <h4>Ticket</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

                <div class="form-group">
                    <!-- Begin Title -->
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div><!-- End Title -->

                <div class="form-group">
                    <!-- Begin Description -->
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div><!-- End Description -->

            </div>

            <div class="col-lg-4">

                <div class="form-group">
                    <!-- Begin TicketStatus -->
                    @Html.LabelFor(model => model.TicketStatusId, "TicketStatusId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TicketStatusId")
                        @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                    </div>
                </div><!-- End TicketStatus -->

                <div class="form-group">
                    <!-- Begin TicketType -->
                    @Html.LabelFor(model => model.TicketTypeId, "TicketTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TicketTypeId")
                        @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                    </div>
                </div><!-- End TicketType -->

                <div class="form-group">
                    <!-- Begin TicketPriority -->
                    @Html.LabelFor(model => model.TicketPriorityId, "TicketPriorityId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TicketPriorityId")
                        @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                    </div>
                </div><!-- End TicketPriority -->

            </div>


        </div><!-- End Row -->




        @* <div class="form-group">
                @Html.LabelFor(model => model.OwnedById, "OwnedById", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("OwnedById", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OwnedById, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>