@model BugTracker_V2.Models.Ticket
@using Microsoft.AspNet.Identity;

<!-- ==============================================
     SINGLE TICKET
=============================================== -->
<section class="content-wrap ecommerce-products">

        <div class="row">

        <div class="col-lg-8"><!-- begin ticket column -->

            <div class="card">

                <div class="title">
                    <!-- Title -->
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.Identity.GetUserId() == @Model.AssignedToId)
                    {
                        <div class="btn-group right">
                            <a href="@Url.Action("Edit", "Tickets", new { id = Model.Id })" class="btn btn-small z-depth-0"><i class="mdi mdi-editor-mode-edit"></i> Edit Ticket</a>
                        </div>
                    }
                    
               </div>

                <div class="content">

                    <h5>
                        @if (Model.TicketPriority.Name == "Critical")
                        {
                            <span class="alert">@Html.DisplayFor(model => model.TicketPriority.Name)</span>
                        }
                        Created: @Html.DisplayFor(model => model.Created) | Owned by : @Html.DisplayFor(model => model.OwnedBy.DisplayName)
                    </h5>
                    <hr />
                    <p class=" table table-hover">@Html.Raw(Model.Description)</p>

                    <hr />

                    @if (Model.Updated != null)
                    {
                        <div class="alert alert-dismissible green lighten-3 white-text">
                            <strong>Updated: </strong>@Html.DisplayFor(model => model.Updated)
                            <button class="close">&times;</button>
                        </div>
                    }


                </div><!-- /content -->


            
            </div><!-- /card (title|description)-->



        </div><!-- end ticket column -->

            <div class=" col-lg-4"><!-- begin meta column -->
            
                <div class="card">

                    <div class="title">
                        <h5>Developer</h5>
                    </div>

                    @if (Model.AssignedToId == null)
                    {
                        <div class="content">
                            <button class="btn btn-default">Not Yet Assigned</button>
                        </div>
                    }
                    else
                    {
                        <div class="content">
                            <button class="btn btn-small">   @Html.DisplayFor(model => model.AssignedTo.DisplayName)</button>
                        </div>
                    }
                    
                    

                </div><!-- /card -->

                <br />
                

                <div class="card">

                    <div class="title">
                        <h5>Ticket Meta</h5>
                    </div>

                    <div class="content">
                        
                        <div class="row">

                            <div class="col-sm-4">
                                <p><h5>Type</h5></p>
                                <p><span class="btn btn-default btn-small">@Html.DisplayFor(model => model.TicketPriority.Name)</span></p>
                            </div>

                            <div class="col-sm-4">
                                <p><h5>Status</h5></p>
                                <p><span class="btn btn-default btn-small">@Html.DisplayFor(model => model.TicketType.Name)</span></p>
                            </div>

                            <div class="col-sm-4">
                                <p><h5>Priority</h5></p>
                                <p><span class="btn btn-default btn-small">@Html.DisplayFor(model => model.TicketStatus.Name)</span></p>
                            </div>

                        </div><!-- /row -->

                        <br />
                        <br />    

                    </div><!-- /content -->

                </div><!-- /card TicketType-->

            </div><!-- /meta column -->


        </div><!-- End Row -->
     
        <br />
        <br />

        <div class="card">

            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <i class="fa fa-comments"></i>Comments<span class="yay-collapse-icon mdi-navigation-expand-more right"></span>
                    </div>

                    <div class="collapsible-body">

                        <div class="content">
                        
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.Identity.GetUserId() == Model.OwnedById)
                                {
                                    <div class="col-lg-12" id="comment_form">

                                        <form method="post" action="@Url.Action("CreateComment", "Tickets",new { projectId = Model.ProjectId, ticketId = Model.Id })">
                                            @Html.AntiForgeryToken()
                                            <h3>Leave A Comment</h3>

                                            <div class="form-group">
                                                <div>
                                                    <textarea name="Body" class="materialize-textarea" rows="6"></textarea>
                                                </div>
                                            </div><!-- End Comment Box -->

                                            <input type="submit" value="Submit" class="btn btn-default" /><br />

                                        </form><!--/comment form -->

                                    
                                    
                                    
                                    <br />
                            
                                </div><!-- /comment form column -->
                                    
                                }
                                else
                                {
                                    <div class="col-lg-12">
                                        <p>Only Admins, Project Managers, Developers, or the original creator of the ticket may make a comment.</p>
                                    </div>
                                }

                                <hr />

                                <div class="col-lg-12">

                                    @foreach (var item in Model.Comments.OrderByDescending(c => c.Created))
                                    {
                                       
                                        <div class="card-panel z-depth-2">

                                            <div class="mail-subject">
                                                <h4><img src="~/images/user10-30x30.jpg" class="pull-left" style="padding-right:3px;"/> @Html.DisplayFor(modelItem => item.Author.DisplayName) <small class="mail-date">@Html.DisplayFor(modelItem => item.Created)</small></h4>
                                                
                                            </div> <!-- /user name|created -->

                                            <hr />

                                            <div class="mail-text">
                                                <p>@Html.Raw(item.Body)</p>
                                            </div>

                                        </div><!-- /card-panel -->

                                    }

                                    <br />

                                </div><!-- /comment list column -->

                            


                        </div><!-- /content-->

                    </div><!-- /collaspible body -->

                </li><!-- /comment section -->

                <li>

                    <div class="collapsible-header">
                        <i class="fa fa-paperclip"></i>Attachments<span class="yay-collapse-icon mdi-navigation-expand-more right"></span>
                    </div>

                    <div class="collapsible-body">

                        <div class="content">

                            <div class="card">
                                
                                <div class="card">
                                    <div class="title">
                                        <a class="minimize" href="#"><i class="mdi-navigation-expand-less"></i></a>
                                    </div><!-- /title -->
                                    <div class="content">
                                        <div class="form-group">
                                            <!-- Begin File Attachment -->
                                            <h3>Add an Attachment</h3>
                                            <hr />
                                            <form method="post" action="@Url.Action("AddAttachment", "Tickets", new { projectId = Model.ProjectId, ticketId = Model.Id})" enctype="multipart/form-data">
                                                @Html.AntiForgeryToken()

                                                <h4>Attachment Description</h4>
                                                <textarea name="Description" class="form-control" rows="6"></textarea>
                                                <br />
                                                <div class="col-md-10">
                                                    <input name="file" type="file" class="form-control" id="fileUpload" />
                                                </div>

                                                <input type="submit" value="Submit" class="btn btn-default" />
                                            </form>

                                            <br />

                                        </div><!-- /attachment file -->
                                    </div>
                                </div>

                                

                                <div class="content">

                                    <table class="display table table-bordered table-striped table-hover">
                                    
                                        <thead>
                                            <tr>
                                                <th>Posted By</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Attachments.OrderByDescending(a => a.Created))
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.Author.DisplayName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                                    <td><a href="@item.MediaURL" class="btn btn-small"><i class="fa fa-download"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                                                        
                                    </table><!-- /table -->

                                </div><!-- /content -->

                            </div><!-- /card -->


                            

                        </div><!-- /content -->

                    </div><!-- /collasible body -->

                </li><!-- /attachment section -->

                <li>

                    <div class="collapsible-header"><i class="fa fa-history"></i>Ticket History<span class="yay-collapse-icon mdi-navigation-expand-more right"></span></div>
                    <div class="collapsible-body">

                        <div class="content">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Edited By</th>
                                        <th>Changed</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Changed On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var history in Model.History.OrderByDescending(c => c.Changed))
                                    {
                                        <tr>
                                            <td>@history.User.DisplayName</td>
                                            <td>@history.Property</td>
                                            <td>@Html.Raw(history.OldValue)</td>
                                            <td>@Html.Raw(history.NewValue)</td>
                                            <td>@history.Changed</td>
                                        </tr>
                                    }
                                </tbody>
                            </table><!-- /table -->

                        </div><!-- /content -->

                    </div><!-- /collapsible body -->

                </li><!-- /history section -->

            </ul>
        </div><!-- /card (comments|attachments|history)-->

</section>


